@use "../abstracts/" as *;
/*=============== REUSEABLE CLASSES ===============*/
.container {
   padding: 0 15px;
   margin-inline: auto;
}
.main {
   padding-top: calc(var(--header-height) + 3rem);
   padding-bottom: 2rem;
   background-image: url("../imgs/body-bg.png");
   background-position: center top;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.section {
   padding-block: 2rem;
   &_title {
      position: relative;
      margin-inline: auto;
      width: fit-content;
      margin-bottom: 3rem;
      text-align: center;
      color: #000;
      font-size: var(--biggest-font-size);
      letter-spacing: 3px;
      border: 2px solid #000000e2;
      border-radius: 0.2rem;
      padding: 0.8rem 1rem;
      background-color: #fff;
      transition: background-color 0.3s;
      &:hover {
         background-color: transparent;
      }
   }
}
/* Sweet alert library */
.red-bg {
   background-color: red;
   .swal-text {
      color: #fff;
   }
}
.done {
   .swal-text {
      color: #000;
   }
}

/*=============== BREAKPOINTS ===============*/
/* EXTRA SMALL */
// @media (max-width: 576px) {

// }
/* SMALL */
@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}
/* MEDIUM */
@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}
/* LARGE */
@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}
