@use "../abstracts" as *;

/*=============== BUTTONS COMPONENT ===============*/
.btn {
   position: relative;
   border-radius: 0.4rem;
   color: #000;
   font-size: var(--h3-font-size);
   padding: 0.6rem 1.5rem;
}
.logout-btn {
   @include authBtn(#d3d3d3, $danger-color);
   color: #000;
}
.login-btn {
   @include authBtn(#28a745, #28a745, 120px);
}
.register-btn {
   @include authBtn(#007bff, #007bff, 120px);
}
.login-page-btn {
   color: #fff;
   background-image: linear-gradient(
      91.18deg,
      #2575be 0%,
      rgba(78, 182, 227, 0.85) 99.99%,
      rgba(20, 124, 183, 0.89) 100%
   );
   border: 1px solid #000000;
   box-shadow: 0px 10px 4px rgba(104, 193, 231, 0.3);
   width: $input-width;
   margin-block: 2.5rem 1.5rem;
   &:hover {
      background: linear-gradient(to right, #003959 0%, #003959 100%);
   }
}
/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
   .logout-btn {
      width: 90px;
      .log-icon {
         width: 20px;
         height: 20px;
         right: -0.2rem;
      }
   }
}
/* SMALL */
@media (max-width: 768px) {
   .logout-btn {
      background-color: $body-color;
      .log-icon {
         width: 20px;
         height: 20px;
         right: -0.2rem;
      }
   }
   .login-page-btn {
      width: 100%;
   }
}
