@use "../abstracts" as *;

/*=============== ERROR COMPONENT ===============*/
.checking-message {
   position: fixed;
   bottom: 2rem;
   right: -25rem;
   padding: 1rem;
   border-radius: 0.2rem;
   transition: right 0.5s;
   z-index: 51;
   color: #fff;
   &.show {
      right: 2rem;
      background-color: red;
   }
   &.show-done {
      right: 2rem;
      background-color: green;
   }
}
