/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
/*=============== VARIABLES ===============*/
:root {
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
}
@media (max-width: 992px) {
  :root {
    --biggest-font-size: 1.5rem;
    --h3-font-size: 1rem;
  }
}
@media (max-width: 576px) {
  :root {
    --h2-font-size: 1rem;
    --h3-font-size: 0.9rem;
  }
}

/*=============== BASE ===============*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eaeaea;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

button,
i {
  cursor: pointer;
}

input {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

/*=============== REUSEABLE CLASSES ===============*/
.container {
  padding: 0 15px;
  margin-inline: auto;
}

.main {
  padding-top: calc(80px + 2rem);
  padding-bottom: 2rem;
}

/*=============== BREAKPOINTS ===============*/
/* EXTRA SMALL */
/* SMALL */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* MEDIUM */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* LARGE */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*=============== HEADER COMPONENT ===============*/
.header {
  position: fixed;
  background-color: #eaeaea;
  width: 100%;
  z-index: 100;
}
.header.scroll-header .nav {
  border-bottom: 0 solid #000;
}
.header .nav {
  height: 80px;
  border-bottom: 2px solid #000;
  padding-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  transition: border-bottom 0.08s;
}
.header .nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.header .nav .menu .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  font-family: "Playfair Display", serif;
  font-size: var(--h3-font-size);
}
.header .nav .menu .links .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-weight: bold;
  padding-inline: 1rem;
  height: 80px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.header .nav .menu .links .item a:hover {
  color: #fff;
  background-color: #0081aa;
  border-radius: 0.3rem;
}
.header .nav .menu .toggle-mobile {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.8s;
  cursor: pointer;
}
.header .nav .menu .toggle-mobile__span {
  display: block;
  height: 5px;
  border-radius: 2px;
  background-color: #000;
  transition: transform 0.3s;
}
.header .nav .menu .toggle-mobile.close .toggle-mobile__span:nth-of-type(2) {
  display: none;
}
.header .nav .menu .toggle-mobile.close .toggle-mobile__span:nth-of-type(1) {
  transform: translateY(10px) rotate(45deg);
}
.header .nav .menu .toggle-mobile.close .toggle-mobile__span:nth-of-type(3) {
  transform: rotate(-45deg);
}
.header .nav .menu-btns {
  display: none;
}

/* Shadow appearance on nav bottom when scroll */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
  .header .nav .menu .links .item a {
    padding-inline: 0.7rem;
  }
}
/* SMALL */
@media (max-width: 768px) {
  .header .nav .menu .toggle-mobile {
    opacity: 1;
  }
  .header .nav {
    position: relative;
  }
  .header .nav .menu .links {
    flex-direction: column;
    justify-content: initial;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    width: 90%;
    max-height: 0;
    overflow-y: auto;
    gap: 0.4rem;
    margin-inline: auto;
    background-color: #d3d3d3;
    transition: max-height 0.4s;
    z-index: 100;
  }
  .header .nav .menu .links::-webkit-scrollbar {
    width: 0;
  }
  .header .nav .menu .links.show {
    max-height: 300px;
    padding-bottom: 0.6rem;
    border-radius: 0.5rem;
  }
  .header .nav .menu .links .item {
    width: 100%;
  }
  .header .nav .menu .links .item a {
    width: 100%;
  }
}
/*=============== LOGO COMPONENT ===============*/
.logo .logo-text {
  background-image: linear-gradient(90.22deg, #0081aa 27.58%, #000000 63.99%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: var(--biggest-font-size);
  font-weight: bold;
  font-family: "Michroma", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  animation: logo-text-animation-fir 0.75s ease forwards;
}
.logo .logo-text:hover {
  animation: logo-text-animation-sec 0.5s ease-in forwards;
}

/*=============== ANIMATION ===============*/
/* Animation shown when entering the page and after the hover animation. */
@keyframes logo-text-animation-fir {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}
/* Animation shown when hovering over the text. */
@keyframes logo-text-animation-sec {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}
/*=============== BUTTONS COMPONENT ===============*/
.btn {
  position: relative;
  border-radius: 0.4rem;
  background: #d3d3d3;
  color: #000;
  font-size: var(--h3-font-size);
  padding: 0.6rem 1.5rem;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  width: auto;
  width: 100px;
  padding: 0.6rem 1.5rem;
  transition: padding-inline 0.3s, color 0.3s;
}
.logout-btn .logout-icon {
  position: absolute;
  top: 50%;
  right: -0.5rem;
  width: 24px;
  height: 24px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
}
.logout-btn:hover {
  padding-inline: 0.7rem 1.5rem;
  color: #fff;
  background-color: #fc4855;
}
.logout-btn:hover .logout-icon {
  opacity: 1;
}

.login-page-btn {
  color: #fff;
  background-image: linear-gradient(91.18deg, #2575be 0%, rgba(78, 182, 227, 0.85) 99.99%, rgba(20, 124, 183, 0.89) 100%);
  border: 1px solid #000000;
  box-shadow: 0px 10px 4px rgba(104, 193, 231, 0.3);
  width: 90%;
}
.login-page-btn:hover {
  background-image: linear-gradient(91.18deg, rgba(37, 117, 190, 0.4392156863) 0%, rgba(78, 182, 227, 0.55) 99.99%, rgba(20, 124, 183, 0.59) 100%);
}

/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
  .logout-btn {
    width: 90px;
  }
  .logout-btn .logout-icon {
    width: 20px;
    height: 20px;
    right: -0.2rem;
  }
}
/* SMALL */
@media (max-width: 768px) {
  .logout-btn {
    background-color: #eaeaea;
  }
  .logout-btn .logout-icon {
    width: 20px;
    height: 20px;
    right: -0.2rem;
  }
}
/*===================== GREETING PAGE =====================*/
.greeting-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.greeting-page .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.greeting-page .container .content {
  width: 70%;
}
.greeting-page .container .content .greeting-msg {
  font-size: 2rem;
  color: #085f7b;
}
.greeting-page .container .content .website-info {
  font-size: 1.1rem;
  margin-block: 1.3rem 3rem;
  text-indent: 1.5rem;
  padding-left: 1rem;
}
.greeting-page .container .content .auth-btn .auth-box {
  margin-bottom: 1.5rem;
}
.greeting-page .container .content .auth-btn .auth-box .text {
  margin-bottom: 1rem;
}

/*===================== LOGIN PAGE =====================*/
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.auth .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding-block: 2rem;
}
.auth .container .content {
  display: flex;
  align-items: initial;
  justify-content: space-between;
  gap: 0;
  background-color: #fff;
  border-radius: 0.4rem;
  width: 100%;
}
.auth .container .content .form {
  width: 50%;
  padding: 1rem 2rem;
}
.auth .container .content .form .form-element {
  margin-top: 3rem;
}
.auth .container .content .form .form-element label {
  display: block;
  margin-bottom: 0.4rem;
  padding-left: 1rem;
  font-weight: bold;
  font-size: var(--h2-font-size);
}
.auth .container .content .form .form-element label[for=remember-me] {
  display: inline;
  font-size: var(--h3-font-size);
  font-weight: normal;
  color: rgba(20, 155, 231, 0.9882352941);
  margin-bottom: 0;
}
.auth .container .content .form .form-element .form-group {
  margin-top: 1rem;
  position: relative;
}
.auth .container .content .form .form-element .form-group .custom-select {
  position: relative;
  padding-left: 2rem;
  padding-block: 1rem;
  border: 1px solid #000;
  border-radius: 0.2rem;
  width: 90%;
  color: #000;
  font-size: var(--h3-font-size);
  background-color: #cecece;
  cursor: pointer;
  transition: opacity 0.4s;
}
.auth .container .content .form .form-element .form-group .custom-select .arrow {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  transform-origin: center;
  transform: translateY(-50%) rotate(-45deg);
}
.auth .container .content .form .form-element .form-group .custom-select .select {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 0;
  border-radius: 0 0 0.2rem 0.2rem;
  text-align: center;
  background-color: #cecece;
  transition: height 0.4s;
  overflow: hidden;
}
.auth .container .content .form .form-element .form-group .custom-select .select .option {
  padding: 1rem;
  border-bottom: 1px solid #000;
  font-size: var(--normal-font-size);
}
.auth .container .content .form .form-element .form-group .custom-select .select .option:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.auth .container .content .form .form-element .form-group .custom-select .select .option:first-of-type {
  border-top: 1px solid #000;
}
.auth .container .content .form .form-element .form-group .custom-select .select.show-options {
  height: 144px;
  z-index: 10;
}
.auth .container .content .form .form-element .form-group .form-input {
  background-color: #cecece;
  width: 90%;
  height: 48px;
  padding-left: 1.5rem;
  padding-block: 0.7rem;
  border-radius: 3rem;
  border: 1px solid #000;
  font-size: var(--h3-font-size);
}
.auth .container .content .form .form-element .form-group .form-input[type=checkbox] {
  height: 17px;
  width: 17px;
}
.auth .container .content .form .form-element .form-group ::placeholder {
  font-size: var(--h3-font-size);
}
.auth .container .content .form .form-element .form-group .img-input {
  position: absolute;
  bottom: 0;
  left: -0.5rem;
  height: 48px;
  width: 48px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.auth .container .content .form .form-element .form-group .img-input + .form-input {
  padding-left: 4rem;
}
.auth .container .content .form .form-element .form-group:last-of-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  margin-block: 1.5rem;
}
.auth .container .content .university-logo {
  width: 50%;
  min-height: 100%;
  background-image: linear-gradient(180.29deg, rgba(24, 57, 173, 0) 0.25%, rgba(0, 114, 177, 0.47) 23.96%, #003959 45.77%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

/*=============== BREAKPOINTS ===============*/
/* SMALL */
@media (max-width: 768px) {
  .auth .container .content {
    flex-direction: column-reverse;
  }
  .auth .container .content .form {
    width: 100%;
  }
  .auth .container .content .university-logo {
    width: 100%;
    height: 200px;
  }
}
/* EXTRA SMALL */
@media (max-width: 576px) {
  .auth .container .content .form .form-element .form-group .form-input {
    height: 45px;
    padding-block: 0.6rem;
  }
  .auth .container .content .form .form-element .form-group .img-input {
    height: 45px;
    width: 45px;
  }
}/*# sourceMappingURL=style.css.map */