@use "../abstracts" as *;

/*===================== DOCTORS PAGE =====================*/
.main.doctors-page {
   background-image: none;
}
.doctors-page {
   min-height: 100vh;
   background-color: $body-color;
   .container {
      @include flex(center, flex-start, 1rem);
      .content {
         width: 45%;
         .box {
            margin-bottom: 1.5rem;
         }
         .title {
            font-size: var(--h2-font-size);
            font-weight: normal;
            margin-bottom: 1rem;
         }
         .table {
            th:first-of-type,
            td:first-of-type {
               width: 10px;
            }
            th:last-of-type,
            td:last-of-type {
               width: 150px;
            }
            th,
            td {
               text-align: center;
            }
         }
      }
      .university-logo {
         align-self: flex-start;
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
   .doctors-page .container .content .cover .table {
      min-width: 400px;
   }
}
@media (max-width: 768px) {
   .doctors-page .container {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 0;
   }
   .doctors-page .container .content {
      width: 100%;
      margin-top: 1.5rem;
   }
   .doctors-page .container .university-logo {
      align-self: center;
   }
}
