@use "../abstracts" as *;

/*===================== GREETING PAGE =====================*/
.greeting-page {
   .container {
      @include flex(center, space-between, 0.8rem);
      .content {
         width: 70%;
         .greeting-msg {
            font-size: 2rem;
            color: $title-color;
         }
         .website-info {
            font-size: 1.1rem;
            margin-block: 1.3rem 3rem;
            text-indent: 1.5rem;
            padding-left: 1rem;
         }
         .auth-btn {
            .auth-box {
               margin-bottom: 1.5rem;
               .text {
                  margin-bottom: 1rem;
               }
            }
         }
      }
   }
}

/*=============== BREAKPOINTS ===============*/
/* SMALL */
@media (max-width: 768px) {
   .greeting-page .container {
      flex-direction: column-reverse;
   }
   .greeting-page .container .content {
      margin-top: 2rem;
   }
   .greeting-page .container .content .greeting-msg,
   .greeting-page .container .content .website-info {
      text-align: center;
      padding-left: 0;
   }
}
/* EXTRA SMALL */
// @media (max-width: 576px) {

// }
