@use "../abstracts" as *;

/*===================== HOMEPAGE PAGE =====================*/
.homepage-student,
.homepage-coordonator,
.homepage-admine {
   background-image: url("../imgs/body-bg.png");
   background-position: center top;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   min-height: 100vh;
}
.homepage-student {
   .container {
      height: calc(100vh - var(--header-height) - 5rem);
      @include flex(center, space-between, 0.5rem);
      .content {
         width: 80%;
         .title {
            color: $title-color;
            font-size: var(--h2-font-size);
            margin-bottom: 2rem;
         }
         .steps {
            .step {
               margin-bottom: 1.5rem;
               line-height: 1.5;
               font-size: var(--h3-font-size);
               @include flex(center, flex-start, 0.5rem);
               .link {
                  white-space: nowrap;
                  text-decoration: underline;
                  font-weight: bold;
               }
            }
         }
      }
   }
}
.homepage-coordonator {
   .container {
      .content {
         width: 80%;
         padding-top: 2rem;
         .title {
            @include flex(center, flex-start, 1rem);
            font-size: var(--h2-font-size);
            font-weight: bold;
            margin-bottom: 2rem;
         }
         .table {
            margin-bottom: 2rem;
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
   .homepage-student .container {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 3rem;
   }
}
