@use "../abstracts" as *;

/*===================== LIST OF TIPICS PAGE =====================*/
.main.list-of-topics-page {
   background-image: none;
}
.list-of-topics-page {
   background-color: $body-color;
   .container {
      .save-btn-space {
         @include flex(center, center);
         height: 80px;
      }
      .content {
         margin-bottom: 2rem;
         .title {
            font-weight: normal;
            font-size: var(--h2-font-size);
            margin-bottom: 1rem;
         }
         .table {
            th:first-of-type,
            td:first-of-type {
               width: 10px;
               text-align: center;
            }
         }
      }
   }
}
