@use "../abstracts" as *;

/*===================== LIST OF TIPICS PAGE PAGE =====================*/
.list-of-topics-page {
   .container {
      .table {
         width: 100%;
         border-collapse: collapse;
         border: 1px solid #000;
         text-align: center;
         .main-row {
            .main-cell {
               font-weight: bold;
               background-color: #b4ebd7;
               border: 1px solid #000;
            }
         }
         .row {
            .cell {
               border: 1px solid #000;
            }
            .title,
            .details {
               text-align: left;
            }
         }
         .main-cell,
         .cell {
            padding: 1rem;
         }
      }
   }
}

/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
// @media (max-width: 992px) {

//  }
/* SMALL */
@media (max-width: 768px) {
   .cover {
      overflow-x: scroll;
      // styling scrollbar later
      //   &::-webkit-scrollbar {
      //     width: 0;
      //  }
   }
   .list-of-topics-page .container .table {
      width: 720px;
   }
}
