@use "../abstracts" as *;

/*===================== SUPPORT PAGE =====================*/

.support-page {
   background-image: url("../imgs/support-bg1.png");
   background-size: 100% 100%;
   background-position: center center;
   background-repeat: no-repeat;
   height: 100vh;
   @media only screen and (max-width: 778px) {
      background-image: url("../imgs/support-bg3.png");
   }
   @include flex(center, center);
   .container {
      @include flex(center, space-between, 0.4rem);
      .box {
         width: 50%;
         background-color: #d9d9d9;
         padding: 2rem 1.7rem;
         border-radius: 1rem;
         .item {
            @include flex(center, flex-start, 1rem);
            &:not(:last-of-type) {
               margin-bottom: 1.2rem;
            }
            .iocn {
               background-color: #fff;
            }
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
   .support-page .container {
      flex-direction: column-reverse;
   }
   .support-page .container .box {
      width: 80%;
   }
   .support-page .container .university-logo {
      margin-bottom: 2rem;
      width: 100%;
      @include flex(center, center);
   }
}
/* SMALL */
@media (max-width: 768px) {
   .support-page .container .box {
      width: 100%;
   }
}
/* EXTRA SMALL */
@media (max-width: 576px) {
   .support-page .container .box {
      font-size: var(--normal-font-size);
      padding-inline: 1rem;
   }
}
