@use "../abstracts" as *;

/*=============== TOPIC COMPONENT ===============*/
.topic-page {
   padding-bottom: 4rem;
   .container {
      @include flex(center, space-between, 1.5rem);
      .content {
         width: 60%;
         .title {
            @include flex(center, flex-start, 1rem);
            font-size: var(--h2-font-size);
            margin-bottom: 1.5rem;
            &::before {
               content: "";
               display: block;
               width: 17px;
               height: 17px;
               border: 1px solid #000;
               border-radius: 50%;
               background-color: #b4ebd7;
            }
         }
         .box {
            background-color: #fff;
            padding: 1rem 1.2rem;
            border-radius: 1rem;
            .item {
               @include flex(center, space-between, 1rem);
               padding-block: 0.4rem;
               &_title {
                  font-size: var(--h3-font-size);
                  font-weight: normal;
                  width: 120px;
               }
               &:nth-of-type(3) {
                  .item_title {
                     align-self: flex-start;
                  }
               }
               .input-field,
               .textarea {
                  background-color: #b4ebd7;
                  padding-block: 0.8rem;
                  padding-left: 1rem;
                  border: 1px solid #000;
                  border-radius: 1rem;
                  width: 75%;
               }
               .textarea {
                  resize: none;
                  height: 120px;
                  // styling scrollbar later
                  &::-webkit-scrollbar {
                     width: 10px;
                  }
               }
            }
            .save-btn-space {
               @include flex(center, center);
               height: 60px;
            }
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* SMALL */
@media (max-width: 768px) {
   .topic-page .container {
      flex-direction: column-reverse;
   }
   .topic-page .container .content {
      width: 100%;
   }
}
/* EXTRA SMALL */
@media (max-width: 576px) {
   .topic-page .container .content .box .item {
      flex-direction: column;
   }
   .topic-page .container .content .box .item .item_title {
      align-self: flex-start;
   }
   .topic-page .container .content .box .item .input-field,
   .topic-page .container .content .box .item .textarea {
      width: 100%;
   }
}
